/*

https://developer.mozilla.org/es/docs/Web/CSS/radial-gradient

Un degradado es una transición entre un color y otro. Por ejemplo, cuando nosotros ponemos dos (2) colores, el navegador calculará todos los colores intermedios entre el color 1 y el color 2: esto para poder pasar, definitivamente, de un color a otro. Si ponemos tres colores, pues lo mismo. Adicionalmente, no está de más decir que los degradados son un valor de la propiedad "background-image" (poner siempre los degradados solamente con esta propiedad para no afectar el resto de valores que pueda asumir la propiedad "background" en su conjunto).

Dicho lo anterior, existen dos tipos de degradados: lineales y radiales

    Degradados lineales:

        1er caso: La forma más común de hacer un degragadado es: linear-gradient([direction], color-1, color-2, color-3); es decir, por ejemplo: 

        background-image: linear-gradient(red, blue, yellow); 
        
        -acá omitimos la "direction" del degradado- 

        2do caso: Podemos usar, efectivamente, el parametro de "direction" en un degradado lineal. La dirección es opcional y se puede establecer de dos (2) formas: 
            
            1. con palabras claves: "to top | to right | to bottom | to left | to top left | to top right| to bottom left | to bottom right".

            Si queremos un degradado simetrico, normalmente lo hacemos con palabras claves porque son bastante intuitivas. 
            
            El "to" de las palabras claves significa "hacia"; es decir, hacia qué dirección tomará rumbo el degradado; esto, tomando como referencia, un primer color dado hasta que se transforma en un segundo (en caso que sea el ejemplo con dos colores).

            2. con ángulos: 20deg, 180deg,...); por ejemplo, "0deg" equivale a un "to top" (si hacemos un simil), el color empieza desde abajo y va HACIA arriba (to top), "45deg" a "to top right", "90deg" a "to right", y así...
        
        A parte de poder hacer la transición entre dos colores, se pueden establecer "paradas de color"; es decir, determinar desde dónde empieza, dentro del elemento manipulado, el degradado para cada color: esto a partir de una medida pasada que indicaría, realmente, el límite de la solidez del color mismo (hasta donde se ocuparía la solidez del color dentro del espacio del propio elemento). Para establecer las paradas se puede usar cualquier medida: "px", "em","%"... Ahora bien, si desea que el corte sea solido (sin transiciones graduales de un color a otro, sin degradado) se establecería para todos los colores una misma medida como "parada de color". Es decir, si las paradas/inicios empiezan en el mismo sitio se genera un corte sólido, con lo cual, no habría espacio para degradados; por ejemplo, vea el caso de:
        
        "background-image: linear-gradient(red 50%, blue 50%);"

    Degradados radiales

        Funcionan de una forma similar a los degradados lineales.

        background-image: radial-gradient([shape], red, blue);

        background-image: radial-gradient(red, blue);

        Por defecto, shape se ajustará al tamaño de la caja, pero podemos establecer si queremos un círculo o una elipse y definir el radio o los radios.

        background-image: radial-gradient(circle 100px, red, blue);

        background-image: radial-gradient(ellipse 100px 50px, red, blue);

        Si no establecemos un punto de origen, el punto 0 0 será el centro del elemento. Para establecer el punto de origen podemos hacerlo en medidas o con palabras clave.
        Con la palabra "at" establecemos el punto de origen. Los valores que acepta son:

        top | right | bottom | left | center | closest-side | closest-corner | farthest-side | farthest-corner

        background-image: radial-gradient(circle 100px at top left, red 50%, blue 50%);

        si establecemos un solo valor, el segundo por defecto será center
        background-image: radial-gradient(circle 100px at top, red 50%, blue 50%);
*/

.box {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin: 2em auto;

    background-image: linear-gradient(red, blue, yellow); 

    /* Acá conseguimos un degragado sencillo, por defecto, de rojo a azul y de azul a amarillo. Es nuestro primer caso de degradado lineal (sin el uso del parametro "direction") y se usaron 3 colores: en el 0% un rojo puro, en el 50% un azul puro, y en el 100% un amarillo puro. */

    /* Ahora, revisemos el caso en el que le pasamos el parametro "direction" a "linear-gradient". */

    background-image: linear-gradient(to top, red, blue); 

    /* Probemos las paradas de color. Por ejemplo, queremos que el degradado del  color rojo comience desde el 10% de la ubicación del elemento manipulado ".box"; y, además, que el degradado del color azul comience desde el 90% de la ubicación del mismo elemento ".box" */

    background-image: linear-gradient(red 10%, blue 90%);

    /* Ahora, probemos las paradas de color con corte solido (sin degradado) */

    background-image: linear-gradient(red 50%, blue 50%);

    /* Veamos este otro caso de parada de color con corte solido, y sin degradado, pero con tres colores. Se fijará que también se pueden establecer dos "sub-parametros" de parada de color en cada color; es decir, un inicio y un fin para señalar cuál sería el espacio exacto que ocupará, desde un punto A a un punto B, cada color. Esto en contexto se pondrá en práctica con el color "blue"; pues, sólo ocupará el espacio del elemento que va desde el 50% hasta el 75% */

    background-image: linear-gradient(red 50%, blue 50% 75%, green 75%);

    /* background-image: radial-gradient(ellipse 225px 50px at bottom, transparent 50%, blue 50%); */
}