/* Comencemos a explicar, mediante ejemplos, los seudoelementos */

.title::first-letter{
    color: red;
    font-size: 2em;

    /* Si se da cuenta, lo que hace el pseudoelemento: "::first-letter", es tener su propia manera (o sintaxis) de darle estilos a la primera letra de un selector llamado; en este caso, ese selector llamado fue ".title" (que corresponde al título del elemento "H1" de nuestro html).

    RECUERDE, SÓLO FUNCIONA EN ELEMENTOS O SELECTORES QUE SON ELEMENTOS DE BLOQUE O FUERON CONVERTIDOS A ELEMENTOS DE BLOQUE o a elementos "inline-block".
    */
}

.text::first-line{

    font-size: 2em;
    color: blue;

    /* Si se da cuenta, lo que hace el pseudoelemento: "::first-line", es tener su propia manera (o sintaxis) de darle estilos a la primera línea de texto de un selector llamado. Como la "línea de texto", de la página web, es adaptable a las dimensiones de la pantalla del navegador que la esté visitando,... este recurso estará dandole formato a esa primera "línea de texto", incluso, aunque ella varie en sus dimensiones; es decir, "::first-line" resulta ser una herramienta de tipo "responsive design" si así se quiere ver. 
    
    En este caso, el selector llamado fue: ".text". 

    RECUERDE, SÓLO FUNCIONA EN ELEMENTOS O SELECTORES QUE SON ELEMENTOS DE BLOQUE O FUERON CONVERTIDOS A ELEMENTOS DE BLOQUE o a elementos "inline-block".
    */
}

.dolar::before{
    content: '$';
}

.dolar::after{
    content: '.00';

    /* En el "content" se puede dibujar cualquier cosa que se les ocurra, se pueden dibujar "imagenes", se pueden dibujar "atributos", casi cualquier cosa. Veamos algo.
    */
}

.dolar::before,
.dolar::after{
    content: '$';
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
    color: blue;
}

.text::selection{
    color: red;
    background-color: black;

    /* Si se da cuenta, lo que hace el pseudoelemento: "::selection", es darle un formato propio de estilo a lo que uno "subraye", por decirlo de alguna manera. En este caso, al estilo propio que le demos a ese "subrayado" dentro del selector llamado, el cual es: ".text". 

    nota: esto mismo se puede hacer con JS (lo digo porque actualmente este pseudoelemento está retirado de la especificación).
    */
}