.block{
	width: 300px;
	height: 130px;
	background-color:  #8CA6E8
}

#demo1{
	position: relative;
}
#demo1:before{
	position: absolute;
	content: "";
	bottom: 15px;
	left: 8px;
	top: 80%;
	width: 50%;
	background: #777;
}