body{
    background-color: #333;
    color: lightcoral;
    margin: 0;
}

.box{
    width: auto;
    /* Como era la "anchura" del elemento "padre", ".box", la que se desbordaba del "body" y nos generaba un "scroll" horizontal; entonces, es sobre la medida de la anchura "width" la que se le define con el valor de "auto". */

    margin: 0 50px;
    height: 250px;
    background-color: lightgreen;
}

.box-children{
    width: auto;
    /* Como era la "anchura" del elemento "hijo", ".box-children", la que se desbordaba del elemento padre ".box" y nos generaba un "scroll" horizontal, también, en esta ocasión; entonces, es sobre la medida de la anchura "width" la que se le define con el valor de "auto" acá también. */

    height: 25%;
    margin-left: 100px;
    background-color: lightseagreen;
}
